
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f9;
    padding: 20px;  
    height: 100vh; /* faz o container ocupar a tela inteira*/
    
}

.top-bar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
}

/* Modo Aluno → 2 colunas */
.container.modo-aluno {
    grid-template-columns: 1fr;
}

/*definir quem aparece primeiro no modo aluno (tabela depois areade jogos)*/
.container.modo-aluno .painel {
    order: 1;
}

.container.modo-aluno .gamificacao {
    order: 2;
    margin-top: 20px; /* espaço entre tabela e area de jogos */
}

#alunoSelecionadoInfo {
    font-weight: bold;
}
/* Modo Professor → 2 colunas */
.container.modo-professor {
    grid-template-columns: 300px 1fr;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 80px);  /*importante p/ tabela ocupar a tela inteira */
    align-items: stretch; /* ESSENCIAL */
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* ou space-between se quiser espaçar */
    gap: 5px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px ;
    height: 100%; /* faz ele acompanhar o painel */
}

.painel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /*max-width:max-content ;*/
    height: 100%; /* ocupa toda altura disponivel */
    overflow-y: auto;  /* scroll na tabela */
}

h2 {
    border-bottom: solid rgb(128, 55, 0);
    padding-bottom: 10px;
    color: #2d3456;
    margin-top: 0;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(128, 55, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);

    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;

    z-index: 9999;
}

.popup.mostrar {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup.erro {
    background-color: #e74c3c;
}