<<<<<<< HEAD
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px; /* espaço entre linhas */
}

tr {
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: 0.2s;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d6e4ff;
}

td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

/* borda lateral só na primeira célula */
td:first-child {
    border-left: 4px solid rgb(128, 55, 0);
    border-radius: 5px 0 0 5px;
}

/* arredondar lado direito */
td:last-child {
    border-radius: 0 5px 5px 0;
}

td:nth-child(1) {
    width: 200px;
    white-space: nowrap; /* Evita quebrar nome em várias linhas. */
    font-weight: bold;
}

/* Cabeçalho da tabela fixo (sticky header)*/
thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

/* Sem essa parte o cabeçalho some quando rola*/
thead {
    background-color: white;
}

/* Melhor alinhamento das colunas*/
th, td {
    text-align: left;
    padding: 10px;
}

.aprovado {
    color: blue;
}

.recuperacao {
    color: orange;
}

.reprovado, .reprovado-por-nota, .reprovado-por-frequencia, .reprovado-por-frequencia-e-nota  {
    color: red;
=======
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px; /* espaço entre linhas */
}

tr {
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: 0.2s;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d6e4ff;
}

td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

/* borda lateral só na primeira célula */
td:first-child {
    border-left: 4px solid rgb(128, 55, 0);
    border-radius: 5px 0 0 5px;
}

/* arredondar lado direito */
td:last-child {
    border-radius: 0 5px 5px 0;
}

td:nth-child(1) {
    width: 200px;
    white-space: nowrap; /* Evita quebrar nome em várias linhas. */
    font-weight: bold;
}

/* Cabeçalho da tabela fixo (sticky header)*/
thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

/* Sem essa parte o cabeçalho some quando rola*/
thead {
    background-color: white;
}

/* Melhor alinhamento das colunas*/
th, td {
    text-align: left;
    padding: 10px;
}

.aprovado {
    color: blue;
}

.recuperacao {
    color: orange;
}

.reprovado, .reprovado-por-nota, .reprovado-por-frequencia, .reprovado-por-frequencia-e-nota  {
    color: red;
>>>>>>> a081b3cd0b00ed12aa049c0e4da5b4bfcdfcbca0
}